.products {
  display: flex;

  .product {
    padding: 10px;
    width: 102px;
    float: left;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      width: 100px;
      height: 100px;
      margin-bottom: 5px;
    }

    &__menu {
      display: grid;
      grid-template-columns: 25px 1fr 25px;
      grid-gap: 10px;
    }

    &__quantity {
      display: flex;
      justify-content: center;
    }

    &__button {
      width: 25px;
    }
  }
}