{% extends 'base.html.twig' %}

{% block body %}
    {% set products = constant('App\\Controller\\ProductsController::PRODUCTS_ROUTE') %}

    <h2>Erforderlich bestellt</h2>
    <div>Bestellungsnummer: {{ orderId }}</div>

    <div class="home-link">
        <a href="{{ path(products) }}">Zurück zur Warenliste</a>
    </div>
{% endblock %}